@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

/* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Use a Tailwind color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* Use a Tailwind color */
  border-radius: 4px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray transparent; /* thumb color track color */
}

@font-face {
  font-family: Neue;
  src: url("./assets/fonts/HelveticaNeue-Thin.otf");
}

@font-face {
  font-family: Neue-Bold;
  src: url("./assets/fonts/HelveticaNeue-Bold.otf");
}

@font-face {
  font-family: Neue-Medium;
  src: url("./assets/fonts/HelveticaNeue-Medium.otf");
}

@font-face {
  font-family: Neue-Light;
  src: url("./assets/fonts/HelveticaNeue-Light.otf");
}

@theme {
  --font-instrument-serif: "Instrument Serif", "sans-serif";
  --font-neue: "Neue", "sans-serif";
  --font-neue-bold: "Neue-Bold", "sans-serif";
  --font-neue-medium: "Neue-Medium", "sans-serif";
  --font-neue-light: "Neue-Light", "sans-serif";
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}

.animate-pop-in {
  animation: popIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}
